<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SSC Frontend </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
    function selectFile(fnUpload) {
        var filename = fnUpload.value;
        var mime = filename.toLowerCase().substr(filename.lastIndexOf("."));
        if(mime!=".json")
        {
            alert("Please select json file configuration.");
            fnUpload.outerHTML=fnUpload.outerHTML;
        }
    }
    </script>
</head>
<body>
<p>SSC</p>

<form method="post">
<p>1. Calculate circle area:</p>
<label>radius:</label> <input type="text", name="radius"></input> </br>
<input type="hidden" name="form_name" value="CircleAreaOperator">
<input type="submit", value="submit"></input>
</form>
<p>{{f_text0}}</p>

<form method="post">
<p>2. Timing task example, calculate cube:</p>
<label>length:</label> <input type="text", name="length"></input> </br>
<input type="hidden" name="form_name" value="CubeAreaOperator">
<input type="submit", value="submit"></input>
</form>
<p>{{f_text1}}</p>

<p>3. Set input:</p>
<form method="post" action="/">
<label>tool name:</label> <input type="text", name="tool"></input> </br>
<label>language:</label> <input type="text", name="language"></input> </br>
<label>processing option:</label> <input type="text", name="option"></input> </br>
<input type="hidden" name="form_name" value="SetJsonOperator">
<input type="submit", value="submit"></input>
</form>
<p>{{f_text2}}</p>

<p>4. Download configuration:</p>
<a href="download/{{file_path}}" target=_blank style="{{dstyle}}">Download Configuration</a>


<p>5. Please select your upload json configuration file:</p>
<form method="post" enctype="multipart/form-data" action="upload">
<input type="hidden" name="form_name" value="UploadConfigOperator">
<input type="file" name="file" onchange="selectFile(this)" />
<input type="submit" value="upload" />
</form>
<p>{{f_text3}}</p>

</body>
</html>