<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SSC Frontend Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>SSC Login</p>

<div style="width:100%;text-align:center">
<form method="post" action="login/action">
    <input type="hidden" name="form_name" value="LoginOperator">
    <h2>login SSC Frontend</h2>
    <p> <label>email:</label> </p>
    <input type="email", name="email"></input> </br>
    <p> <label>password:</label> </p>
    <input type="password", name="password"></input> </br>
	<p> </p>
    <input type="submit", value="login"></input>
</form>
<p><a href="register">register</a></p>
 </div>
</body>
</html>