<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SSC Frontend Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>SSC Register</p>

<div style="width:100%;text-align:center">
<form method="post" action="register">
    <input type="hidden" name="form_name" value="RegisterOperator">
    <h2>Register SSC Frontend</h2>
    <p> <label>email:</label> </p>
    <input type="email", name="email"></input> </br>
    <p> <label>password:</label> </p>
    <input type="password", name="password"></input> </br>
	<p> <label>confirm password:</label> </p>
    <input type="password", name="cf_password"></input> </br>
	<p> </p>
    <input type="submit", value="register"></input>
</form>
<p>{{reg_msg}}</p>
</div>

</body>
</html>