body {
    margin: 0;
    font-family: sans-serif;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
  }
/* Create two equal columns that floats next to each other */
.column {
  flex: 40%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}